* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  font-family: "Ubuntu";
}

a {
  color: #000;
  text-decoration: none;
}

.btn {
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
  transition: 0.3s;
  box-sizing: border-box;
  border-radius: 8px;
}
.btn.btn-transparent {
  padding: 12px 0;
  background: transparent;
}
.btn.btn-opacity {
  background: rgba(255, 255, 255, 0.16);
}
.btn.btn-border {
  padding: 19px 32px;
  border: 2px solid #3FA6F0;
  border-radius: 8px;
}
.btn.btn-blue {
  padding: 19px 50px;
  background: #3FA6F0;
  border-radius: 8px;
}
.btn.hidden {
  display: none;
}
.btn.hidden.active {
  display: flex;
}
.btn:hover {
  transform: scale(1.05);
}
.btn img {
  margin-left: 9px;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 40;
}
.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .user {
  display: none;
  align-items: center;
}
.header .container .user.active {
  display: flex;
}
.header .container .user .img {
  margin-right: 16px;
  width: 100%;
  max-width: 56px;
  min-width: 56px;
  max-height: 56px;
  min-height: 56px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
}
.header .container .user .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .container .user .name {
  margin-right: 26px;
  font-weight: 500;
  font-size: 18.3659px;
  line-height: 23px;
  color: #fff;
}
.header .container .user .close {
  cursor: pointer;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left .menu {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.header-left .menu a {
  margin-right: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  position: relative;
}
.header-left .menu a.active::before {
  content: "";
  width: 100%;
  height: 1.5px;
  position: absolute;
  left: 0;
  bottom: -10%;
  background: #fff;
  transition: 0.3s;
}
.header-left .menu a:last-child {
  margin-right: 0;
}

.header-right {
  display: none;
  align-items: center;
}
.header-right.active {
  display: flex;
}
.header-right .btn-opacity {
  margin-left: 25px;
}

.header-mod {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}
.header-mod .search {
  margin-bottom: 0;
  width: 100%;
  max-width: 520px;
}
.header-mod .search .form-item {
  padding: 12px 24px;
}
.header-mod .user {
  display: flex;
  align-items: center;
}
.header-mod .user .img {
  margin-right: 16px;
  width: 100%;
  max-width: 56px;
  min-width: 56px;
  max-height: 56px;
  min-height: 56px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-mod .user .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-mod .user .name {
  margin-right: 26px;
  font-weight: 500;
  font-size: 18.3659px;
  line-height: 23px;
  color: #000000;
}
.header-mod .user .close {
  cursor: pointer;
}

.header-menu-m {
  display: none;
}

.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;
  background: linear-gradient(203.96deg, #00A3FF -3.63%, #373DD8 84.62%);
}
.section::after {
  content: "";
  width: 100%;
  max-width: 1000px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background: url("../img/bg.png") center right no-repeat;
  background-size: contain;
}

.section-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-block .title {
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 56px;
  line-height: 104%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.section-block .subtitle {
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 24px;
  line-height: 142%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}
.section-block .btn-row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.section-block .btn-row .btn {
  margin-bottom: 25px;
  margin-right: 16px;
}
.section-block .btn-row .btn:last-child {
  margin-right: 0;
}

.that-work {
  width: 100%;
  min-height: 100vh;
  padding: 115px 0;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.that-work::before {
  content: "";
  width: 100%;
  height: 100%;
  max-height: 900px;
  position: absolute;
  z-index: -1;
  background: url("../img/work-bg.svg") center no-repeat;
  background-size: contain;
}
.that-work .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.that-work-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 104%;
  margin-bottom: 30px;
  color: #000000;
}

.that-work-subtitle {
  width: 100%;
  max-width: 711px;
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  color: #000000;
  opacity: 0.7;
}

.that-work-borders {
  margin-bottom: 95px;
}

.why-me {
  width: 100%;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  position: relative;
}
.why-me::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url("../img/why-me-bg.svg") center no-repeat;
  background-size: cover;
}
.why-me .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.why-me-title {
  margin-bottom: 100px;
  font-weight: normal;
  font-size: 48px;
  line-height: 104%;
  color: #FFFFFF;
}

.why-me-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.why-me-row .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-me-row .item .img {
  margin-bottom: 25px;
}
.why-me-row .item span {
  margin-bottom: 15px;
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.why-me-row .item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 162%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.our-team {
  width: 100%;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
  padding-bottom: 200px;
}
.our-team .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our-team-title {
  width: 100%;
  margin-bottom: 100px;
  font-weight: normal;
  font-size: 48px;
  line-height: 104%;
  text-align: center;
  color: #000000;
}

.our-team-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 46px;
}
.our-team-row .item {
  margin: 4px;
  width: 100%;
  max-width: 360px;
  min-height: 424px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  padding: 48px 32px;
}
.our-team-row .item .img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.our-team-row .item .img::before {
  content: "";
  width: 100%;
  height: 70%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(22, 30, 72, 0) 28.32%, rgba(30, 42, 103, 0.55) 81.13%);
}
.our-team-row .item .img img {
  width: 100%;
  height: 100%;
}
.our-team-row .item span {
  display: block;
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.our-team-row .item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 162%;
  display: flex;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer {
  width: 100%;
  min-height: 200px;
  padding: 20px 0;
  background: rgba(1, 11, 255, 0.02);
}
.footer .user {
  display: none;
  align-items: center;
}
.footer .user.active {
  display: flex;
}
.footer .user .img {
  margin-right: 16px;
  width: 100%;
  max-width: 46px;
  min-width: 46px;
  max-height: 46px;
  min-height: 46px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
}
.footer .user .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer .user .name {
  margin-right: 26px;
  font-weight: 500;
  font-size: 18.3659px;
  line-height: 23px;
  color: #000;
}
.footer .user .close {
  cursor: pointer;
}

.footer-head {
  width: 100%;
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-head .header-left .menu a {
  color: #000;
}
.footer-head .header-right .btn-transparent {
  color: #3FA6F0;
}
.footer-head .header-right .btn-opacity {
  color: #fff;
  padding: 14px 25px;
  background: #3FA6F0;
  border-radius: 8px;
}

.footer-info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.footer-info a {
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  margin-right: 32px;
  color: #000000;
  opacity: 0.3;
}
.footer-info a.opacity1 {
  opacity: 1;
  margin-right: 50px;
}

.footer-sub-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-sub-info span {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
}
.footer-sub-info a {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  line-height: 100%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  opacity: 0.7;
}

.footer-head-m {
  display: none;
}

.shop-dataset {
  width: 100%;
  min-height: 100vh;
  padding: 130px 0;
  overflow: hidden;
  padding-bottom: 0;
}

.shop-dataset-title {
  margin-bottom: 100px;
  font-weight: normal;
  font-size: 56px;
  line-height: 104%;
  display: flex;
  align-items: center;
  color: #000000;
}

.shop-dataset-type {
  width: 100%;
  position: relative;
  padding: 32px 0 24px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shop-dataset-type::before {
  content: "";
  width: 1000%;
  height: 100%;
  position: absolute;
  left: -250%;
  top: 0;
  z-index: -1;
  background: linear-gradient(258.25deg, #00A3FF -28.21%, #373DD8 113.1%);
}
.shop-dataset-type .item {
  width: 100%;
  max-width: 270px;
  margin-bottom: 10px;
}
.shop-dataset-type .item span {
  display: block;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 23px;
  line-height: 113%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.5;
}
.shop-dataset-type .item-drop {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 19px 24px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.shop-dataset-type .item-drop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.shop-dataset-type .item-drop-title.active {
  margin-bottom: 20px;
}
.shop-dataset-type .item-drop-title.active .item-drop-content {
  display: flex;
}
.shop-dataset-type .item-drop-title p {
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.shop-dataset-type .item-drop-content {
  display: none;
  flex-direction: column;
}
.shop-dataset-type .item-drop-content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.shop-dataset-product {
  padding-top: 25px;
  position: relative;
  padding-bottom: 130px;
}
.shop-dataset-product::before {
  content: "";
  width: 1000%;
  height: 100%;
  position: absolute;
  left: -250%;
  top: 0;
  z-index: -1;
  background: rgba(196, 196, 196, 0.1);
}

.search {
  margin-bottom: 64px;
  width: 100%;
}
.search .form {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.search .form-item {
  width: 100%;
  padding: 19px 24px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.search .form-item img {
  margin-right: 16px;
  opacity: 0.3;
}
.search .form-item input {
  width: 100%;
  background: transparent;
  border: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}
.search .form .btn {
  margin-left: -10px;
}

.products-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.products-column .item {
  margin-bottom: 25px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 26px rgba(30, 68, 89, 0.05), 0px 2px 1px rgba(30, 68, 89, 0.2);
  border-radius: 16px;
}
.products-column .item-content {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.products-column .item-content-img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
}
.products-column .item-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-column .item-content-text {
  width: 100%;
  margin-left: 30px;
}
.products-column .item-content-text-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}
.products-column .item-content-text-title .name {
  display: flex;
  align-items: center;
}
.products-column .item-content-text-title .name span {
  display: block;
  margin-right: 30px;
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  color: #000000;
}
.products-column .item-content-text-title .name p {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  opacity: 0.7;
}
.products-column .item-content-text-title .name p img {
  margin-right: 8px;
}
.products-column .item-content-text-title .price {
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  padding: 14px 24px;
  background: rgba(1, 11, 255, 0.02);
  border-radius: 8px;
  color: #3FA6F0;
}
.products-column .item-content-text-type {
  width: 100%;
  margin-bottom: 8px;
  padding: 23px 35px;
  background: rgba(1, 11, 255, 0.04);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-column .item-content-text-type .block {
  display: flex;
  flex-direction: column;
}
.products-column .item-content-text-type .block span {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3FA6F0;
}
.products-column .item-content-text-type .block p {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
}
.products-column .item-content-text-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-column .item-content-text-btns .btn {
  width: 100%;
  margin: 4px;
}
.products-column .item-content-text-btns .btn:last-child {
  margin-right: 0;
}
.products-column .item-content-text-btns .btn:first-child {
  margin-left: 0;
}
.products-column .item-btn {
  color: #3FA6F0;
  width: 100%;
  border: 2px solid rgba(63, 166, 240, 0.4);
  box-sizing: border-box;
  border-radius: 8px;
}
.products-column .item-btn:hover {
  box-shadow: 0 0 10px rgba(63, 166, 240, 0.4);
  transform: unset;
}

.profile {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  overflow: hidden;
}

.profile-head {
  background: #fff;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}
.profile-head::before {
  content: "";
  width: 1000%;
  height: 100%;
  position: absolute;
  left: -250%;
  top: 0;
  pointer-events: none;
  border-bottom: 1px solid rgba(196, 196, 196, 0.3);
}
.profile-head-transparents {
  width: 100%;
  max-width: 280px;
  margin-right: 8px;
}
.profile-head-menu {
  width: 100%;
  display: flex;
  align-items: center;
}
.profile-head-menu a {
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  padding: 18px 16px;
  color: #000000;
  width: 100%;
}
.profile-head-menu a.name {
  width: 150%;
}

.profile-content {
  width: 100%;
  display: flex;
  min-height: 850px;
  align-items: flex-start;
  position: relative;
  padding: 8px 0;
}
.profile-content::before {
  content: "";
  width: 1000%;
  height: 100%;
  position: absolute;
  left: -250%;
  top: 0;
  z-index: -1;
  background: rgba(196, 196, 196, 0.1);
}
.profile-content-menu {
  width: 100%;
  max-width: 280px;
  margin-right: 8px;
}
.profile-content-menu .btn {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 33px;
}
.profile-content-menu .tabs {
  display: flex;
  flex-direction: column;
  padding: 17px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 26px rgba(30, 68, 89, 0.05), 0px 2px 1px rgba(30, 68, 89, 0.2);
  border-radius: 16px;
}
.profile-content-menu .tabs a {
  width: 100%;
  padding: 15px 32px;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
}
.profile-content-menu .tabs a.active {
  color: #3FA6F0;
  background: rgba(0, 148, 255, 0.1);
}
.profile-content-menu .tabs a.active::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #3FA6F0;
}
.profile-content-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -8px;
}
.profile-content-table .item {
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
}
.profile-content-table .item:last-child {
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 0px 26px rgba(30, 68, 89, 0.05), 0px 2px 1px rgba(30, 68, 89, 0.2);
}
.profile-content-table .item:nth-child(2n-1) {
  background: #F7FBFF;
}
.profile-content-table .item .txt {
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 186%;
  color: #000000;
  display: block;
  padding: 4px 16px;
}
.profile-content-table .item .name {
  width: 150%;
}
.profile-content-table .item .orange {
  color: #E78834;
}
.profile-content-table .item .blue {
  color: #3FA6F0;
}
.profile-content-table-m {
  width: 100%;
  display: none;
  flex-direction: column;
  margin-top: -8px;
}
.profile-content-table-m .item {
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
}
.profile-content-table-m .item:last-child {
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 0px 26px rgba(30, 68, 89, 0.05), 0px 2px 1px rgba(30, 68, 89, 0.2);
}
.profile-content-table-m .item:nth-child(2n-1) {
  background: #F7FBFF;
}
.profile-content-table-m .item .head-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}
.profile-content-table-m .item .txt {
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 186%;
  color: #000000;
  display: block;
}
.profile-content-table-m .item .name {
  width: 150%;
}
.profile-content-table-m .item .orange {
  color: #E78834;
}
.profile-content-table-m .item .blue {
  color: #3FA6F0;
}

.auths {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auths::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url("../img/sign-bg.png") center no-repeat;
  background-size: cover;
}

.form-block-auth {
  width: 100%;
  max-width: 568px;
  padding: 40px;
  padding-bottom: 60px;
  background: #fff;
  background: #FFFFFF;
  box-shadow: 0px 0px 26px rgba(30, 68, 89, 0.05), 0px 2px 1px rgba(30, 68, 89, 0.2);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.form-block-auth .title {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 48px;
  line-height: 104%;
  text-align: center;
  color: #000000;
}
.form-block-auth .form {
  width: 100%;
}
.form-block-auth .form-item {
  margin-bottom: 8px;
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
}
.form-block-auth .form-item input {
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
}
.form-block-auth .form .btn {
  width: 100%;
  border: none;
}
.form-block-auth .reset-pass {
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #3FA6F0;
}

.modal-menu {
  width: 100%;
  height: 50%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1500;
  display: none;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.modal-menu.active {
  display: flex;
}
.modal-menu .content {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 15px;
}
.modal-menu .content .close {
  position: absolute;
  right: 20px;
  top: 15px;
}
.modal-menu .content .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
}
.modal-menu .content .menu a {
  margin-bottom: 12px;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  font-weight: 400;
}
.modal-menu .content .header-right {
  display: none;
  justify-content: flex-start;
  align-items: stretch;
}
.modal-menu .content .header-right.active {
  display: flex;
}
.modal-menu .content .header-right .btn {
  background: #3FA6F0;
  color: #fff;
  padding: 10px 15px;
  min-height: 40px;
}
.modal-menu .content .user {
  display: none;
  align-items: center;
}
.modal-menu .content .user.active {
  display: flex;
}
.modal-menu .content .user .name {
  margin: 0 10px;
}
.modal-menu .content .user .clos {
  margin-bottom: -4px;
}

@media (max-width: 980px) {
  .header {
    padding: 11px 0;
  }

  .header-left .logo {
    width: 120px;
  }
  .header-left .logo img {
    width: 100%;
  }
  .header-left .menu a {
    display: none;
  }

  .header-right.active {
    display: none;
  }

  .header-menu-m {
    width: 100%;
    max-width: 35px;
    min-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  .header-menu-m span {
    display: block;
    width: 100%;
    background: #FFFFFF;
    opacity: 0.6;
    height: 2.6px;
  }

  .header-mod .logo {
    width: 120px;
  }
  .header-mod .logo img {
    width: 100%;
  }
  .header-mod .search {
    display: none;
  }
  .header-mod .user {
    display: none;
  }
  .header-mod .header-menu-m span {
    background: #000;
  }

  .btn {
    font-size: 14px;
    padding: 19px 20px;
    line-height: 100%;
  }

  .section {
    padding-top: 365px;
    padding-bottom: 50px;
  }
  .section::after {
    width: 100%;
    max-width: 100%;
    max-height: 420px;
    top: -40px;
  }

  .section-block .title {
    font-size: 32px;
    line-height: 131%;
    margin-bottom: 25px;
  }
  .section-block .subtitle {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
  }
  .section-block .btn-row .btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .that-work {
    padding: 72px 0;
  }

  .that-work-title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 32px;
  }

  .that-work-subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .that-work-borders {
    margin-bottom: 50px;
    width: 100%;
  }
  .that-work-borders img {
    width: 100%;
  }

  .why-me {
    padding: 60px 0;
    min-height: 100%;
  }

  .why-me-title {
    margin-bottom: 73px;
    font-size: 24px;
    line-height: 32px;
  }

  .why-me-row {
    flex-wrap: wrap;
  }
  .why-me-row .item {
    width: 49%;
    margin-bottom: 35px;
  }
  .why-me-row .item span {
    font-size: 20px;
    line-height: 26px;
  }
  .why-me-row .item p {
    font-size: 14px;
    line-height: 20px;
  }
  .why-me-row .item p br {
    display: none;
  }

  .our-team {
    min-height: 100%;
    padding: 80px 0;
  }
  .our-team .container .btn {
    width: 100%;
  }

  .our-team-title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 32px;
  }

  .our-team-row .item {
    max-width: 100%;
    min-height: 320px;
  }
  .our-team-row .item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    min-height: 100%;
    padding: 16px 0;
  }
  .footer .footer-head {
    display: none;
  }

  .footer-head-m {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-head-m .logo {
    width: 50%;
    width: 120px;
  }
  .footer-head-m .logo img {
    width: 100%;
  }
  .footer-head-m .btn-transparent {
    width: 50%;
    color: #3FA6F0;
  }
  .footer-head-m .btn-opacity {
    width: 100%;
    background: #3FA6F0;
    padding: 12px;
    margin-bottom: 32px;
  }
  .footer-head-m .user {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footer-head-m .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 32px;
  }
  .footer-head-m .menu a {
    text-align: center;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 26px;
  }

  .footer-info {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer-info a {
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .footer-info a.opacity1 {
    margin-right: 0;
  }

  .footer-sub-info {
    justify-content: center;
    flex-direction: column;
    padding: 24px 0;
  }
  .footer-sub-info span {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
  }
  .footer-sub-info a {
    font-size: 14px;
    line-height: 26px;
  }

  .auths {
    padding: 15px;
  }

  .form-block-auth {
    padding: 30px 15px;
    padding-bottom: 50px;
  }
  .form-block-auth .title {
    margin-bottom: 15px;
    font-size: 35px;
  }
  .form-block-auth .form .btn img {
    width: 16px;
  }
  .form-block-auth .reset-pass {
    margin-top: 20px;
  }

  .profile {
    min-height: 100%;
    padding-top: 50px;
  }

  .profile-head {
    display: none;
  }

  .profile-content {
    flex-direction: column;
    min-height: 100%;
  }
  .profile-content-menu {
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .profile-content-menu .btn {
    width: 48%;
  }
  .profile-content-menu .tabs {
    width: 100%;
  }
  .profile-content-menu .tabs a {
    font-size: 16px;
    padding: 13px 25px;
  }
  .profile-content-table {
    display: none;
  }
  .profile-content-table-m {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .profile-content-table-m .item {
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
  }
  .profile-content-table-m .item span {
    display: block;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
  }
  .profile-content-table-m .item .txt {
    width: 100% !important;
  }
  .profile-content-table-m .item .btns {
    width: 100%;
  }
  .profile-content-table-m .item .btns a img {
    width: 25px;
  }

  .shop-dataset {
    min-height: 100%;
    padding: 100px 0;
    padding-bottom: 0;
  }

  .shop-dataset-title {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .shop-dataset-type {
    padding: 20px 0;
  }
  .shop-dataset-type .item {
    max-width: 100%;
  }
  .shop-dataset-type .item span {
    font-size: 16px;
  }
  .shop-dataset-type .item-drop {
    padding: 15px 20px;
  }
  .shop-dataset-type .item-drop-title p {
    font-size: 14px;
  }
  .shop-dataset-type .item-drop-content p {
    font-size: 14px;
  }

  .search {
    margin-bottom: 30px;
  }
  .search .form-item {
    padding: 13px 20px;
  }
  .search .form-item img {
    width: 20px;
    margin-right: 10px;
  }
  .search .form-item input {
    font-size: 14px;
  }
  .search .form .btn {
    padding: 12px 20px;
  }

  .products-column .item-content {
    flex-direction: column;
  }
  .products-column .item-content-text {
    margin-left: 0;
    margin-top: 20px;
  }
  .products-column .item-content-text-title {
    margin-bottom: 15px;
  }
  .products-column .item-content-text-title .name span {
    font-size: 15px;
    margin-right: 10px;
  }
  .products-column .item-content-text-title .name p {
    font-size: 12px;
  }
  .products-column .item-content-text-title .name p img {
    width: 20px;
  }
  .products-column .item-content-text-title .price {
    padding: 7px 10px;
    font-size: 15px;
  }
  .products-column .item-content-text-type {
    flex-wrap: wrap;
    padding: 10px 15px;
  }
  .products-column .item-content-text-type .block {
    width: 49%;
    margin-bottom: 10px;
  }
  .products-column .item-content-text-type .block span {
    font-size: 14px;
  }
  .products-column .item-content-text-type .block p {
    font-size: 16px;
  }
  .products-column .item-content-text-btns {
    flex-wrap: wrap;
  }
  .products-column .item-content-text-btns .btn {
    margin: 0;
    margin-bottom: 8px;
    padding: 10px;
  }
  .products-column .item-btn {
    padding: 10px;
  }

  .footer-head {
    margin-bottom: 0;
  }
  .footer-head .header-menu-m span {
    background: #000;
  }
}